<div class="main-page">
  <!--<div class="events" ng-repeat="event in eventHash">-->
    <!--&lt;!&ndash;{{event.title}}&ndash;&gt;-->
    <!--<div ng-repeat="eventLookup in event">-->
      <!--{{eventLookup.short_title}}-->
      <!--<div>-->
        <!--{{eventLookup.timeToGame}}-->
        <!--{{eventLookup.lowest_price}}-->
        <!--{{eventLookup.average_price}}-->
      <!--</div>-->
    <!--</div>-->
    <!--<br/>-->
    <!--<br/>-->
  <!--</div>-->
  <!--{{ eventHash }}-->
<select ng-model="selectedEvent">
  <option ng-repeat="sEvent in events" value="{{sEvent.id}}" ng-click="optionSelected">{{ sEvent.short_title }} {{ sEvent.datetime_local }}</option>
  <!-- <option value="volvo">Volvo</option> -->
  <!-- <option value="saab">Saab</option> -->
  <!-- <option value="mercedes">Mercedes</option> -->
  <!-- <option value="audi">Audi</<OPTION></OPTION>  > -->
</select>
</div>

<div id="curve_chart" style="width: 1500px; height: 750px"></div>

<div ui-view></div>